@page "/PrintReceipt/{receipt}"
@using AllinOne.DataHandlers
@using TrackerUIWeb.Data.ApiGateway
@using TrackerUIWeb.Data.DataTransferObjects
 @inject HttpHandlerService httpHandler

@inject IJSRuntime JSRuntime

 
<link rel="stylesheet" href="/css/receipt-print.css">

<h3>Receipt Preview</h3>

<!-- Content to print -->
<div id="printableContent">

	<div id="invoice-POS">

		<center id="top">
  			   <img src="/images/logo.jpg" style="height: 100px !important; width: 100px !important;" />  
  		</center><!--End InvoiceTop-->

		<div id="mid">
			<div class="info">
				<h2>Contact Info</h2>
				<p> 
					Email   : JohnDoe@gmail.com<br />
					Phone   : 555-555-5555<br />
				</p>
			</div>
		</div><!--End Invoice Mid-->

		<div id="bot">

			<div id="table">
				<table>
					<tr class="tabletitle">
						<td class="item"><h2>Item</h2></td>
						<td class="Hours"><h2>Qty</h2></td>
						<td class="Rate"><h2>Sub Total</h2></td>
					</tr>
					@if(JournalEntry.CartItems is null)
					{
						
					}
					else
					{
					foreach(var item in JournalEntry.CartItems)
						{
						<tr class="service">
							<td class="tableitem"><p class="itemtext">@item.ProductName</p></td>
							<td class="tableitem"><p class="itemtext">@item.Quantity</p></td>
							<td class="tableitem"><p class="itemtext">@item.Price</p></td>
						</tr>
						}
					}
						<tr class="service">
							<td class="tableitem"><p class="itemtext"></p></td>
							<td class="tableitem"><p class="itemtext">Total</p></td>
							<td class="tableitem"><p class="itemtext">@JournalEntry.AmountPaid</p></td>
						</tr>
						<tr class="service">
							<td class="tableitem"><p class="itemtext"></p></td>
							<td class="tableitem"><p class="itemtext">Received</p></td>
							<td class="tableitem"><p class="itemtext">@JournalEntry.AmountReceivedFromCustomer</p></td>
						</tr>
						<tr class="service">
							<td class="tableitem"><p class="itemtext"></p></td>
							<td class="tableitem"><p class="itemtext">Change</p></td>
							<td class="tableitem"><p class="itemtext">@JournalEntry.CashBack</p></td>
						</tr>

				</table>
			</div><!--End Table-->

			<div id="legalcopy">
				<p class="legal"><strong>Thank you for trusting AgroLight!</strong> 
				</p>
			</div>

		</div><!--End InvoiceBot-->
	</div><!--End Invoice-->

</div>

<button @onclick="PrintReceipt">Reprint</button>

@code {

	[Parameter] public string Receipt { get; set; }
	private JournalEntryDTO JournalEntry { get; set; } = new JournalEntryDTO();
	private OutputHandler OutputHandler { get; set; }= new OutputHandler();


	protected override async Task OnInitializedAsync()
	{
		//get receipt details by receipt 
		JournalEntry = await httpHandler.Get<JournalEntryDTO>($"POS/GetReceiptDetails?Receipt={Receipt}");
 		if (JournalEntry is null)
		{
			OutputHandler = new OutputHandler { IsErrorOccured = true, Message = "Something went wrong, receipt printing failed" };
		}else
		{
			PrintReceipt();

		}		
	}
    private async Task PrintReceipt()
    {
		if (JournalEntry.CartItems.Count() < 1)
		{
			
		}else
		{

		}
    }

	  protected override async Task OnAfterRenderAsync(bool firstRender)
    {
		if (!firstRender)
		{
			        			 await JSRuntime.InvokeVoidAsync("printContent", "printableContent");

		}
    await base.OnAfterRenderAsync(firstRender);
    }
}
